<fieldset>
  <legend>{{localize "RCR.Settings.Conditions.Legend"}}</legend>

  <div class="form-group">
    <label>{{localize "RCR.Settings.EnableConditionAdvantage.Name"}}</label>
    <input type="checkbox" name="enableConditionAdvantage" {{checked enableConditionAdvantage}}>
    <p class="hint">{{localize "RCR.Settings.EnableConditionAdvantage.Hint"}}</p>
  </div>
</fieldset>
